#header {
	background: url("../img/header_bg_1.png") repeat;
	color: #FFF;
	height: 100px;
}

#body-container {
	padding-top: 20px;
}

.git-object {
	border: solid 1px #000;
	display: inline-table;
	margin-right: 10px;
	margin-bottom: 10px;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.git-object .content {
	padding: 4px;
}

.git-object.active .title {
	background-color: #08c;	
}

.git-object .title {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	background-color: #AAA;
	font-weight: bold;
	overflow: hidden;
	padding: 4px;
	white-space: nowrap;
}

.repository-object {
	width: 200px;
	height: 150px;
	word-break: break-all;
}

.reference-object {
	width: 125px;
	height: 75px;
}

.commit-object.git-object {
	width: 100%;
	margin-bottom: 20px;
}

.repository-object .content {
	overflow: hidden;
}

#commit-objects {
	height: 600px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.diff-name-object {
	word-break: break-all;
}

.repository-object, .local-reference-object, .commit-object {
	cursor: pointer;
}

.full-file-path {
	font-size: small;
}

.git-object.active .title {
	background-color: #08c;	
}

.diff-name-object.active {
	background-color: #08c !important;
}

.hunk-objects.table td {
	white-space: pre-wrap;
	border-top: none;
	word-break: break-all;
}

.hunk-objects.table .code-type {
	text-align: center;
}