<div id="settings" class="form-horizontal well">
	<div class="control-group">
		<label id="username-label" class="control-label" for="username">Git Username</label>
		<div class="controls">
			<input type="text" id="username"></textarea>
		</div>
	</div>

	<div class="control-group">
		<label id="password-label" class="control-label" for="password">Password</label>
		<div class="controls">
			<input type="password" id="password"></textarea>
		</div>
	</div>

	<div class="btn-bar">
		<button id="apply-btn" class="btn btn-primary">Apply</button>
	</div>
</div>